<div class="navbar-form navbar-right">
    <div class="input-group">
        <input type="Search" placeholder="Search..." class="form-control">
        <div class="input-group-btn">
            <button class="btn btn-primary">
                   <span class="glyphicon glyphicon-search"></span>
        </button>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg modal-btn" data-toggle="modal">
            Launch modal
    </button>
</div>
<div class="container page-container"></div>